<header class="site-header">
    <nav>
        <ul>
          <li>
            <a class="nav-link" href="{{ site.baseurl }}/">
                About
            </a>
          </li>
          <li class="logo">
            <a class="site-title" href="{{ site.baseurl }}/">
                <span class="omran">Omran</span><span class="jamal">Jamal</span>
            </a>
          </li>
          <li>
            <a class="nav-link" href="{{ site.baseurl }}/">
                Blog
            </a>
          </li>
          <li class="burger">
              <a href="#" class="burger-icon">
                  <i class="fa fa-bars" aria-hidden="true"></i>
              </a>
          </li>
        </ul>
    </nav>
</header>
