.site-header {
    @include container;

    width: 100%;
    height: auto;
    background: rgba(0,0,0,0.2);
    position: relative;
    margin-bottom: 2em;

    nav {
        width: 100%;
        font-size: 1.5em;
        line-height: 1em;
        position: relative;
        z-index: 1;
        text-align: center;

        ul {
          list-style-type: none;
          padding: 0;
          margin: auto;
          display: block;

          li {
            display: inline-block;
            width: 100%;
            text-align: center !important;

            @include in-mobile {
              display: none;

              &.logo {
                display: inline-block;
                width: 10em;
              }
            }

            @include at-tablet {
              width: 5em;

              &.logo {
                width: 10em;
              }
            }
          }
        }

        a {
            color: white;
            text-decoration: none;
            display: inline-block;
            padding: 0.83em;
        }

        .nav-link {
            font-family: 'Bebas Neue';
            transition: all 200ms;


            &:hover {
              color: #333;
              background: white;
            }
        }

        .site-title {
            text-transform: uppercase;

            .omran {
                font-weight: 800;
            }
        }
    }

    &::after {
        content: "";
        z-index: 0;
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        bottom: -2em;
        left: 0;
        right: 0;
        margin: auto;

        border: 1em rgba(0,0,0,0.2) solid;
        border-left:  1em solid transparent;
        border-right: 1em solid transparent;
        border-bottom: 1em solid transparent;
    }
}

@import 'home';
@import 'content';
