---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <img src="/assets/images/{{ page.icon }}" alt="" class="post-icon" />
        <h1 class="post-title">
            <span>{{ page.title_html }}</span>
        </h1>
    </header>
    <div class="content-container">
        <div class="content">
            {{ content }}
        </div>
        <br><br><br><br><br><br><br><br>
        <br><br><br><br><br><br><br><br>

    </div>
</article>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "{{ page.url }}";
        this.page.identifier = "{{ page.uid }}";
    };

    (function() {
        var d = document, s = d.createElement('script');

        s.src = '//omranjamalme.disqus.com/embed.js'

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
